.button {
    border-radius: 10px;
    border: 0;

    background-color: yellow;
}

.button:hover {
    box-shadow:  3px 3px 3px rgba(0, 0, 0, 0.2);
}

.button:active {
    box-shadow:  5px 5px 5px rgba(0, 0, 0, 0.2);
}
