.wrapper {
    display: flex;
    flex-direction: column;

    max-height: 680px;

}

.com {
    margin-top: 10px;
    font-size: 20px;

    border-radius: 15px;
    border: 1px solid #1a1616;

    padding: 15px;

    margin-right: 15px;
}

.com > * {
    margin-bottom: 3px;
}

.skills {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.skill {
    font-size: 12px;
    display: flex;
    flex-direction: column;
    height: 50%;
}
